{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "eslint-config-prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "eslint-plugin-prettier"
  ],
  "rules": {
    /* Your existing rules */
    "react/react-in-jsx-scope": "off",
    "func-style": ["error", "declaration"],
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "version": "detect" // Automatically detect the react version
    }
  }
}
